<?xml version="1.0"?>
<!--
/**
 * @license    http://www.opensource.org/licenses/mit-license.html  MIT License
 * @author Iftakharul Alam Bappa <info@shiftenter.dev> 
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Shiftenterdev_SwedenRegions">
        <sequence>
            <module name="Magento_Directory" />
        </sequence>
    </module>
</config>
